.item {
    width: 70%;
    font-family: Gill Sans, sans-serif;
    color: #efefef;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    border: 1px solid #efefef;
    border-style: ridge;
    padding: 1%;
    margin: 1%;
}

.selected-item {
    background-color: rgb(140, 140, 187);
    color: rgb(33, 212, 212);
}