.board {
    outline: 2px solid burlywood;
}

.row {
    height: 30px;
}

.cell {
    width: 30px;
    height: 30px;
    outline: 1px solid burlywood;
    display: inline-block;
}

.snake-cell {
    background-color: rgb(36, 139, 36);
}

.food-cell {
    background-color: red;
}

.score-row {
    text-align: center;
}

.score-cell {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}